<footer class="py-4">
   
    <div class="container">
        <div class="row">
    <div class="col-md-3">
        <h3>Customer Support</h3>
        <p>We are happy to help you with your purchase</p>
        <p><strong>Call 8951940695</strong></p>
    </div>
    <div class="col-md-3">
        <h3>Company Info</h3>
        <ul class="list-unstyled">
            <li> <a routerLink="/target-page">Home</a> </li>
            <li> <a routerLink="/target-page">About</a> </li>
            <li> <a routerLink="/target-page">Contact</a> </li>
            <li> <a routerLink="/target-page">Find Store</a> </li>

        </ul>
       
       

    </div>
    <div class="col-md-3">
        <h3>Quick Links</h3>
        <ul class="list-unstyled">
            <li> <a routerLink="/target-page">Return & Refund</a> </li>
            <li> <a routerLink="/target-page">Privacy & Policy</a> </li>
            <li> <a routerLink="/target-page">Terms and Condition</a> </li>
            <li> <a routerLink="/target-page">Track Order</a> </li>

        </ul>
       
       

    </div>
    <div class="col-md-3">
        <h3>Customer Support</h3>
        <p>We are happy to help you with your purchase</p>
        <p><strong>Call 8951940695</strong></p>
    </div>
    </div>
</div>

  </footer>
  <div class="container-fluid copy">
    <p class="copyright">&copy; 2023 Your Website. All rights reserved.</p>
  </div>